* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// .container__body {
//     display: flex;
//     justify-content: center;
//     background-color: #03A9F4;
//     transition: 0.5s;
// }
.container {
    position: relative;
    margin: 20px;
    max-width: 400px;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.container .blueBg {
    top: 0px;
    height: 100%;
}

.blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueBg .box {
    position: absolute;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
}

.blueBg .box h2 {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button {
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
    border: none;
    background-color: #FFF;
    font-weight: 500;
    border-radius: 5px;
}

.box.signin {
    top: 0px;
}

.formBx {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: #FFF;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 1);
    transition: 0.7s ease;
    overflow: hidden;
}

.formBx .form {
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 50px;
    transition: 0.7s;
}

.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form h3 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .15);
    font-size: 16px;
    border-radius: 5px;
}

.form input[type="submit"] {
    background-color: #03A9F4;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-container a {
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.forgot {
    color: #333;
}

.active {
    left: 50%;
}

.active-1 {
    background-color: #F43648;
    transition: 0.5s ease;
}

.formBx.active-2 {
    left: 0px;
    top: 150px;
}

.formBx.active-2 .signinForm {
    left: -100%;
    transition: 0.7s;
}

.formBx .signinForm {
    transition-delay: 0.25s;
}

.formBx .signupForm {
    left: 180%;
    transition-delay: 0.25s;
    transition: 0.7s;
}

.formBx.active-2 .signupForm {
    left: 0px;
    transition: 0.7s;
}

@media (min-width:780px) {
    .container {
        position: relative;
        height: 500px;
        margin: 20px;
        max-width: 100%;
    }
    .container .blueBg {
        top: 40px;
        height: 80%;
    }
    .blueBg .box {
        position: relative;
        width: 50%;
        height: 100%;
    }
    .formBx {
        width: 50%;
        height: 100%;
    }
    .formBx.active-3 {
        left: 50%;
        top: 0px;
    }
}